<div class="w-[17em] bg-white rounded-lg shadow-sm overflow-hidden hover:shadow-md transition-shadow duration-300 flex flex-col group">
        
          
         
          <div class="relative h-[15em] w-full overflow-hidden">
            
                {{'product-1' |  placeholder_svg_tag : "w-full h-full object-contain p-2 group-hover:scale-[1.1] duration-300" }}
           
           
          </div>
            
     
        
        <div class="p-2.5 flex-1 flex flex-col justify-between"> <!-- Compact content area -->
          <div>
            <span class="text-xs text-gray-500 font-medium mb-1 block">Vendor</span>
            <span  class="text-base font-medium text-gray-700 hover:text-blue-600 line-clamp-2 mb-1.5">
              Title
            </span>
          </div>
          <p class="text-lg font-bold text-gray-900 mt-1.5">Price</p>
        </div>
      </div>