{% comment %} <label class="relative w-9 h-8 cursor-pointer flex flex-col items-center justify-center gap-[5px] transition duration-500 peer-checked:rotate-180 ">
  <input type="checkbox" class="hidden peer">
  <div id="bar1" class="w-[70%] h-1 bg-blue-600 rounded transition duration-500 transform peer-checked:absolute peer-checked:w-full peer-checked:rotate-45"></div>
  <div id="bar2" class="w-full h-1 bg-blue-600 rounded transition duration-800 transform peer-checked:absolute peer-checked:scale-x-0 peer-checked:duration-500"></div>
  <div id="bar3" class="w-[70%] h-1 bg-blue-600 rounded transition duration-500 transform peer-checked:absolute peer-checked:w-full peer-checked:-rotate-45"></div>
</label> {% endcomment %}


<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1.5" stroke="currentColor" class="size-6 hover:text-blue-500 duration-300">
  <path stroke-linecap="round" stroke-linejoin="round" d="M3.75 6.75h16.5M3.75 12h16.5m-16.5 5.25h16.5" />
</svg>
