
{% paginate collection.products by section.settings.number_per_page %}
    
    <h1 class="text-center text-3xl font-semibold">{{collection.title}}</h1>

    <div class="container mx-auto px-4 py-6 max-w-6xl ">
  <div class=" flex  items-center gap-4 flex-wrap justify-center  ">
    
    {% for product in collection.products %}
      
        {% render 'product-card' , product: product %}
    
    {% else %}
      <div class="col-span-full text-center py-8">
        <p class="text-gray-600 text-base">There are no products in this collection</p>
      </div>
    {% endfor %}
  </div>
</div>

{% render 'pagination', page: paginate %}
{% endpaginate %}


{% schema %}
{
    "name": "Template Collecton",
    "settings": [
         {
            "type": "number",
            "id": "number_per_page",
            "label": "Number of Products per Page",
            "default" : 6
         }
        ]
}
{% endschema %}